.container {
  min-height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista {
  background-color: #9fb2c1;
  width: 70%;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 14.5%;
  display: flex;
  align-items: center;
}

.lista1 {
  background-color: #9fb2c1;
  width: 70%;
  height: 60px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 14.5%;
  display: flex;
  align-items: center;
}

.delete {
  width: 90px;
  height: 35px;
  margin-left: 66%;
  background-color: #b80000;
  color: white;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
}

.conteudo {
  margin-left: 20px;
  color: #274472;
  font-weight: 500;
  font-size: 17px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e4456;
  color: white;
  font-weight: 500;
  font-size: 17px;
  margin-top: -20px;
}

.footer1{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e4456;
  color: white;
  font-weight: 500;
  font-size: 17px;
  margin-top: 21%;
}

.meio {
  /*margin: 0;
  line-height: 1.15;
  font-size: 30px;*/
  margin-top: -90px;
  filter: opacity(90%);
}

.title{
  font-weight: 700;
  font-size: 18px;
  color: #274472;
}

.todo{
  position: absolute;
  color:#274472;
  margin-left: 40%;
  margin-top: 10%;
  top: 40px;
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
  font-size: 18px;
}

.img3{
  margin-left: -18%;
  margin-top: -3%;
}

.img4{
  margin-left: -18%;
  margin-top: -3%;
}

.caixa{
  width: 400px;
  height: 40px;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: grey;
  font-size: 17px;
}

.botao{
  width: 100px;
  height:35px;
  background-color: #274472;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.imgAutor{
  filter: opacity(60%);
}

.body{
  filter: opacity(96%);
  background-color: #2e4456;
  width: 50%;
  height:200px;
  margin-top: -34%;
  margin-left: 25%;
  border-radius: 10px;
  border: 2px;
  color: #d7dcdf;
  font-size: 17px;
  line-height: 30px;
}

.form{
  top: -38px;
  margin-left: 5%;
}

.img2{
  filter: opacity(60%);
}

.bloco1{
  background-color: #2e4456;
  width: 170%;
  height: 170px;
  border-radius:10px;
  margin-left: -330%;
  line-height: 35px;
}

.bloco2{
  background-color: #2e4456;
  width: 170%;
  height: 170px;
  border-radius:10px;
  margin-left: -130%;
  margin-top: -138%;
  line-height: 35px;
}

.bloco3{
  background-color: #2e4456;
  width: 170%;
  height: 170px;
  border-radius:10px;
  margin-left: 70%;
  margin-top: -139%;
  line-height: 35px;
}

.bloco4{
  background-color: #2e4456;
  width: 170%;
  height: 170px;
  border-radius:10px;
  margin-left: 270%;
  margin-top: -139%;
  line-height: 35px;
}

.classificacao{
  color: #d7dcdf;
  margin-left: 5%;
}

.contexto{
  color: #d7dcdf;
  margin-left: 1%;
}

.oferece1{
  background-color: #d7dcdf;
  width:100%;
  height: 1%;
  border-radius: 5px;
  margin-top: 21%;
}

.oferece2{
  color: #2e4456;
  margin-left: 33%;
}

.nada{
  filter: opacity(96%);
  background-color: #2e4456;
  width: 50%;
  height: 200px;
  margin-top: -35%;
  border-radius: 10px;
  border: 2px;
  color: #d7dcdf;
}

.escrita{
  margin-left: 12px;
}